//ШРИФТЫ
$font: "Suisse Intl", "Arial", "Helvetica", "Helvetica CY", "Nimbus Sans";

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop: 1200px;
$width-tablet: 960px;
$width-tablet-small: 640px;
$width-mobile: 320px;

$desktop-gap: 30px;
$mobile-gap: 15px;

// ЦВЕТА
$text-main: #151515;
$white: #fff;
$black: #000;
$blue: #2858FF;
$grey200: #F4F4F8;
$grey250: #E6E6EF;
$grey300: #D1D8E1;
$grey400: #94A0B1;

$primary: #5EA9FF;
$success: #1ED77E;
$fail: #F25248;
$warning: #FFA14A;
$warning2: #FDD74F;
$deep-blue: #113EE0;
$add: #AAD2FF;
$add2: #E7F2FF;


